h1 {color: #7fdaf4; font-family: raleway, al bayan, arial; 
	font-size: 40px; text-align: center;}
p {color:black; font-family: raleway, al bayan, arial; 
	font-size: 28px; text-align: center;}
h3 {color: #b4e6f4; font-family: raleway, al bayan, arial; 
	font-size: 24px; text-align: center;}
h2 {color:#b4e6f4; font-family: raleway, al bayan, arial; 
	font-size: 36px; text-align: center;}
a {font-family: raleway, al bayan, arial; 
	font-size: 22px; text-align: center;}
div {text-align: center;} 

a:link {color:black; text-align:center;}
a:visited {color:#b4e6f4;}
a:hover {color:#f9a7c8;}

html {background-color: #f5eef6;}
